<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath*:*.properties" />
    <import resource="applicationContext_commons.xml" />
    <import resource="applicationContext_dao_core.xml" />
    <import resource="applicationContext_daemon.xml" />
    <import resource="applicationContext_record_done.xml" />
    <import resource="applicationContext_record_undo.xml" />
    <import resource="applicationContext_struts.xml" />
    <import resource="applicationContext_task.xml" />
    <import resource="applicationContext_validation.xml" />
</beans>
